<div class="wrapper" style="padding:30px">
    <div class="container">
        <div class="text-center">
            <h1>
                <b>POKEMON LIST</b>
            </h1>
        </div>
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" style="justify-content: center;"
        infiniteScroll
        (scrolled)="getMorePokemon()">

            <div class="card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
                fxFlex.gt-md="0 1 calc(25%-10px)" *ngFor="let pokemon of pokemons" (click)="pokemonDetails(pokemon.id)">
                <img src="{{pokemon.imageUrl}}" alt="{{pokemon.name}}" width="200"
                    matTooltip="Click for {{[pokemon.name?.toUpperCase()]}} details" matTooltipPosition="right">
                <div class="card-content">
                    <h4><b>#{{ pokemon.id }} {{pokemon.name?.toUpperCase()}}</b></h4>
                </div>
            </div>

        </div>
        <!-- <div style="text-align: center; margin-top: 15px;">
            <button mat-raised-button color="primary" (click)="getMorePokemon()">Load More</button>
        </div> -->

    </div>
</div>